JIRA_BASE_URL=https://jira.yourcompany.com
JIRA_USER_EMAIL=bot@yourcompany.com
JIRA_API_TOKEN=your_api_token_here
JIRA_PROJECT_KEY=PRD
JIRA_STORY_ISSUE_TYPE=Story
JIRA_OUTLINE_LINK_FIELD=customfield_10100
